body {
  color: #000;
  background-color: #FFF;
}

input.invalid {
  background-color: #FF9;
  borderï¼š 2px red inset;
}

label.invalid {
  color: #F00;
  font-weight: bold;
}

.cenetered {
  text-align: center;
}
